/.venv
/myteacher/__pycache__
/teacher/__pycache__
/teacher/migrations
/app/migrations
/app/__init__.py

*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

*.bak

*.py[cod] 
*$py.class 

pip-log.txt 
pip-delete-this-directory.txt 

.python-version 

.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

